@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

h1 {
  text-align: center;
  margin-top: 32px;
}

body {
  font-family: "Nunito", sans-serif;
  background: rgb(244, 203, 248);
}

#loginCard {
  background-color: #b25dda;
  width: 100vh;
  height: 65vh;
  border-radius: 5px;
  outline: none;
  display: block;
  font-size: 16px;
  color: #fdfdfd;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(188, 28, 28, 0.048), 0 12.8px 10.5px rgba(0, 0, 0, 0.58);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#usernameField,
#passwordField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 10px;
}

#usernameField input,
#passwordField input {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
}

#loginButton {
  background: #480766;
  border-radius: 5px;
  border: none;
  outline: none;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 5vh;
  width: 50%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px;
}

#loginButton:hover {
  background-color: #c59cd8;
}

#summaryBtn{
  background-color: #c59cd8;
  display: block;
 margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  
}

#summaryBtn:hover {
  background-color: #480766;

}


